{
  "openapi": "3.0.0",
  "info": {
    "title": "TestArmy API",
    "version": "1.0.0",
    "description": "AI-powered browser automation API for QA testing. Automate web testing workflows using natural language prompts."
  },
  "servers": [
    {
      "url": "https://tester.army/api",
      "description": "Production API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "API key authentication using Bearer token format"
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code or type"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          }
        },
        "required": [
          "error",
          "message"
        ]
      },
      "ProjectDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "shortId": {
            "type": "string",
            "nullable": true
          },
          "name": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true
          },
          "projectType": {
            "type": "string",
            "enum": [
              "web",
              "mobile"
            ]
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "environments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "format": "uuid"
                },
                "name": {
                  "type": "string"
                },
                "slug": {
                  "type": "string"
                },
                "kind": {
                  "type": "string",
                  "enum": [
                    "production",
                    "pr_preview",
                    "static"
                  ]
                },
                "url": {
                  "type": "string",
                  "nullable": true
                }
              },
              "required": [
                "id",
                "name",
                "slug",
                "kind",
                "url"
              ]
            }
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "shortId",
          "name",
          "url",
          "projectType",
          "description",
          "environments"
        ]
      },
      "DynamicPrRunRequest": {
        "anyOf": [
          {
            "type": "object",
            "properties": {
              "targetUrl": {
                "type": "string",
                "format": "uri"
              },
              "platform": {
                "type": "string",
                "enum": [
                  "web"
                ]
              },
              "pullRequest": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "github"
                    ],
                    "default": "github"
                  },
                  "number": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "baseBranch": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "headBranch": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "commitSha": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  }
                },
                "required": [
                  "number",
                  "title",
                  "commitSha"
                ],
                "additionalProperties": false
              }
            },
            "required": [
              "targetUrl",
              "pullRequest"
            ],
            "additionalProperties": false
          },
          {
            "type": "object",
            "properties": {
              "platform": {
                "type": "string",
                "enum": [
                  "ios",
                  "android"
                ]
              },
              "pullRequest": {
                "type": "object",
                "properties": {
                  "provider": {
                    "type": "string",
                    "enum": [
                      "github"
                    ],
                    "default": "github"
                  },
                  "number": {
                    "type": "integer",
                    "minimum": 0,
                    "exclusiveMinimum": true
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "baseBranch": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "headBranch": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "commitSha": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  }
                },
                "required": [
                  "number",
                  "title",
                  "commitSha"
                ],
                "additionalProperties": false
              },
              "mobile": {
                "type": "object",
                "properties": {
                  "appId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "bundleId": {
                    "type": "string",
                    "minLength": 1
                  },
                  "artifactUrl": {
                    "type": "string",
                    "format": "uri"
                  },
                  "artifactFilename": {
                    "type": "string",
                    "minLength": 1
                  },
                  "buildId": {
                    "type": "string",
                    "minLength": 1
                  }
                },
                "additionalProperties": false
              },
              "simulatorRegion": {
                "type": "string",
                "enum": [
                  "eu-north1",
                  "us-west1"
                ]
              }
            },
            "required": [
              "platform",
              "pullRequest"
            ],
            "additionalProperties": false
          }
        ]
      },
      "ProjectEnvironment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "kind": {
            "type": "string",
            "enum": [
              "production",
              "pr_preview",
              "static"
            ]
          },
          "url": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "name",
          "slug",
          "kind",
          "url"
        ]
      },
      "CredentialSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "kind": {
            "type": "string",
            "enum": [
              "login",
              "inbox"
            ]
          },
          "authMethod": {
            "type": "string",
            "enum": [
              "password",
              "google",
              "github",
              "custom"
            ]
          },
          "label": {
            "type": "string"
          },
          "username": {
            "type": "string"
          },
          "hasAuthInstructions": {
            "type": "boolean"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "kind",
          "authMethod",
          "label",
          "username",
          "hasAuthInstructions",
          "createdAt"
        ]
      },
      "ProjectMemory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "category": {
            "type": "string",
            "enum": [
              "site_structure",
              "test_insights",
              "user_preferences"
            ]
          },
          "title": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "importance": {
            "type": "string",
            "enum": [
              "high",
              "medium",
              "low"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "category",
          "title",
          "content",
          "importance",
          "createdAt",
          "updatedAt"
        ]
      },
      "ProjectFileSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "filename": {
            "type": "string"
          },
          "mediaType": {
            "type": "string"
          },
          "fileSize": {
            "type": "integer"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "projectId",
          "filename",
          "mediaType",
          "fileSize",
          "description",
          "summary",
          "createdAt"
        ]
      },
      "TestDefinition": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "enabled": {
            "type": "boolean"
          },
          "platform": {
            "type": "string",
            "enum": [
              "web",
              "mobile"
            ]
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestStep"
            }
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "projectUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "projectName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "title",
          "steps"
        ]
      },
      "TestStep": {
        "oneOf": [
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "act"
                ]
              }
            },
            "required": [
              "title",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "assert"
                ]
              }
            },
            "required": [
              "title",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "login"
                ]
              },
              "credentialId": {
                "type": "string",
                "format": "uuid"
              },
              "temporaryEmail": {
                "type": "boolean"
              }
            },
            "required": [
              "title",
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "files"
                ]
              },
              "fileIds": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "required": [
              "title",
              "type",
              "fileIds"
            ]
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "screenshot"
                ]
              }
            },
            "required": [
              "type"
            ]
          },
          {
            "type": "object",
            "properties": {
              "title": {
                "type": "string"
              },
              "type": {
                "type": "string",
                "enum": [
                  "javascript"
                ]
              },
              "code": {
                "type": "string",
                "description": "JavaScript run in the browser page. Runs as an awaited function body; passes if it completes without throwing (returns nothing or { success: true }) and fails if it returns { success: false, reason } or throws. Web tests only."
              }
            },
            "required": [
              "type",
              "code"
            ]
          }
        ]
      },
      "TestDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TestDefinition"
          },
          {
            "type": "object",
            "properties": {
              "groups": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "name": {
                      "type": "string"
                    },
                    "isDefault": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "id",
                    "name",
                    "isDefault"
                  ]
                }
              }
            }
          }
        ]
      },
      "GroupDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "isDefault": {
            "type": "boolean"
          },
          "runMode": {
            "type": "string",
            "enum": [
              "concurrent",
              "sequential"
            ]
          },
          "prepTestId": {
            "type": "string",
            "nullable": true,
            "format": "uuid"
          },
          "projectId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "name",
          "isDefault",
          "runMode",
          "prepTestId",
          "projectId"
        ]
      },
      "RunListResponse": {
        "type": "object",
        "properties": {
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunResponse"
            },
            "description": "List of runs"
          },
          "nextCursor": {
            "type": "string",
            "nullable": true,
            "description": "Cursor for fetching the next page"
          }
        },
        "required": [
          "runs"
        ]
      },
      "RunResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Unique run identifier"
          },
          "type": {
            "type": "string",
            "enum": [
              "ci",
              "test"
            ],
            "description": "Run type"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "running",
              "completed",
              "failed",
              "cancelled"
            ],
            "description": "Current run status"
          },
          "platform": {
            "type": "string",
            "nullable": true,
            "enum": [
              "web",
              "ios",
              "android",
              null
            ],
            "description": "Target platform"
          },
          "deviceModel": {
            "type": "string",
            "nullable": true,
            "enum": [
              "iphone",
              "ipad",
              null
            ],
            "description": "Non-default mobile device variant within the run platform (e.g. ipad on iOS). Null means the platform default phone-sized device; explicitly requested defaults are stored as null."
          },
          "source": {
            "type": "string",
            "nullable": true,
            "enum": [
              "api",
              "github_action",
              "github_app",
              "scheduled",
              "webhook",
              "structured_test",
              null
            ],
            "description": "Run source"
          },
          "projectId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Linked project ID"
          },
          "input": {
            "type": "object",
            "additionalProperties": {
              "nullable": true
            },
            "description": "Original request input"
          },
          "output": {
            "anyOf": [
              {
                "$ref": "#/components/schemas/TestOutput"
              },
              {
                "$ref": "#/components/schemas/PlannerSkippedOutput"
              },
              {
                "nullable": true
              }
            ],
            "description": "Run output when completed or skipped"
          },
          "testPlan": {
            "type": "object",
            "nullable": true,
            "properties": {
              "instructions": {
                "type": "string",
                "description": "Natural language instructions for the QA agent"
              },
              "focusAreas": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Focus areas derived from changed files"
              },
              "complexity": {
                "type": "string",
                "enum": [
                  "simple",
                  "moderate",
                  "complex"
                ],
                "description": "Estimated test complexity (affects timeout)"
              },
              "changeType": {
                "type": "string",
                "enum": [
                  "frontend",
                  "backend",
                  "mixed",
                  "infra"
                ],
                "description": "Classify this PR: frontend = UI/component changes, backend = API/DB/service changes with no visible UI effect, mixed = both, infra = CI/config/docs only"
              },
              "steps": {
                "type": "array",
                "items": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500,
                          "description": "Concise description of what to do or verify"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "act"
                          ],
                          "description": "Perform an action"
                        }
                      },
                      "required": [
                        "title",
                        "type"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500,
                          "description": "Concise description of what to do or verify"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "assert"
                          ],
                          "description": "Verify a condition"
                        }
                      },
                      "required": [
                        "title",
                        "type"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500,
                          "description": "Concise description of the login step"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "login"
                          ],
                          "description": "Authenticate using a credential"
                        },
                        "credentialId": {
                          "type": "string",
                          "description": "ID of the credential to use"
                        },
                        "temporaryEmail": {
                          "type": "boolean",
                          "description": "Set to true to create a temporary email inbox at run time"
                        }
                      },
                      "required": [
                        "title",
                        "type"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 500,
                          "description": "Description of what page state to capture"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "screenshot"
                          ],
                          "description": "Capture visual evidence of the current page state"
                        }
                      },
                      "required": [
                        "title",
                        "type"
                      ]
                    }
                  ]
                },
                "minItems": 1,
                "maxItems": 10,
                "description": "Ordered list of concrete test steps the agent must execute one-by-one"
              },
              "executionConfig": {
                "type": "object",
                "properties": {
                  "viewport": {
                    "type": "object",
                    "properties": {
                      "width": {
                        "type": "integer",
                        "minimum": 320,
                        "maximum": 3840
                      },
                      "height": {
                        "type": "integer",
                        "minimum": 240,
                        "maximum": 2160
                      }
                    },
                    "required": [
                      "width",
                      "height"
                    ]
                  }
                },
                "description": "Pre-run execution configuration selected by the planner."
              }
            },
            "required": [
              "instructions",
              "focusAreas",
              "complexity",
              "changeType",
              "steps"
            ],
            "description": "Generated test plan (CI runs only)"
          },
          "error": {
            "type": "object",
            "nullable": true,
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              }
            },
            "required": [
              "code",
              "message"
            ],
            "description": "Error details when failed"
          },
          "durationMs": {
            "type": "number",
            "nullable": true,
            "description": "Execution time in milliseconds"
          },
          "webhookUrl": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "Webhook delivery URL"
          },
          "webhookStatus": {
            "type": "string",
            "nullable": true,
            "enum": [
              "pending",
              "delivered",
              "failed",
              null
            ],
            "description": "Webhook delivery status"
          },
          "testId": {
            "type": "string",
            "nullable": true,
            "format": "uuid",
            "description": "Linked test ID"
          },
          "stepResults": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "object",
              "additionalProperties": {
                "nullable": true
              }
            },
            "description": "Step-level results for structured test runs"
          },
          "userName": {
            "type": "string",
            "nullable": true,
            "description": "Display name of the user who triggered the run"
          },
          "externalRef": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "nullable": true
            },
            "description": "External integration metadata (e.g. GitHub PR/deployment IDs)"
          },
          "executionMode": {
            "type": "string",
            "nullable": true,
            "enum": [
              "fast",
              "deep",
              null
            ],
            "description": "Execution mode used for this run"
          },
          "autoRetryCount": {
            "type": "integer",
            "nullable": true,
            "description": "Number of times the run was automatically retried after a temporary failure. Failed attempts are not counted toward usage."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the run was created"
          },
          "startedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When execution started"
          },
          "completedAt": {
            "type": "string",
            "nullable": true,
            "format": "date-time",
            "description": "When execution finished"
          }
        },
        "required": [
          "id",
          "type",
          "status",
          "input",
          "createdAt"
        ]
      },
      "TestOutput": {
        "type": "object",
        "properties": {
          "featureName": {
            "type": "string",
            "description": "Name of the feature being tested"
          },
          "result": {
            "type": "string",
            "enum": [
              "PASS",
              "FAILED"
            ],
            "description": "Test result - PASS if no issues found, FAILED if any issues were reported"
          },
          "description": {
            "type": "string",
            "description": "Short summary of what was tested and the final result; include a compact grouped issue summary only when the user explicitly asks for one"
          },
          "issues": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Issue"
            },
            "default": [],
            "description": "Issues reported during the session via the report_issue tool"
          },
          "screenshots": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Array of screenshot URLs captured during testing"
          },
          "steps": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TestOutputStep"
            },
            "description": "Per-step summaries with timing information"
          }
        },
        "required": [
          "featureName",
          "result",
          "description",
          "screenshots"
        ]
      },
      "Issue": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "issue",
              "warning"
            ],
            "default": "issue",
            "description": "issue = confirmed bug, warning = non-blocking observation"
          },
          "name": {
            "type": "string",
            "description": "Short name of the issue (e.g. 'Login form rejects valid email')"
          },
          "description": {
            "type": "string",
            "description": "What was tested, what happened, and what was expected"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "URL where the issue happened"
          },
          "severity": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5,
            "description": "Issue severity from 1 (minor) to 5 (critical)"
          },
          "reproductionSteps": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Short reproduction steps in execution order"
          },
          "expectedBehavior": {
            "type": "string",
            "description": "What should have happened"
          },
          "actualBehavior": {
            "type": "string",
            "description": "What actually happened"
          },
          "screenshotUrl": {
            "type": "string",
            "description": "Screenshot URL showing the issue"
          },
          "tMs": {
            "type": "integer",
            "description": "Milliseconds elapsed since the recording reference time when the issue was reported"
          }
        },
        "required": [
          "name",
          "description",
          "url"
        ]
      },
      "TestOutputStep": {
        "type": "object",
        "properties": {
          "stepIndex": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "act",
              "assert",
              "login",
              "files",
              "screenshot",
              "javascript"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "passed",
              "failed"
            ]
          },
          "summary": {
            "type": "string"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "errorCode": {
            "type": "string",
            "enum": [
              "AUTH_CREDENTIAL_UNAVAILABLE",
              "AUTH_CREDENTIAL_INVALID",
              "AUTH_BASIC_REQUIRED",
              "VERCEL_BYPASS_REQUIRED",
              "MOBILE_RELEASE_BUILD_REQUIRED",
              "VIEWPORT_RESIZE_UNSUPPORTED",
              "STEP_TOOL_LIMIT_EXHAUSTED",
              "STEP_DEADLINE_EXHAUSTED",
              "STEP_NO_CONCLUSION"
            ]
          },
          "startedAtMs": {
            "type": "integer",
            "description": "Milliseconds elapsed since recording reference when the step started"
          },
          "completedAtMs": {
            "type": "integer",
            "description": "Milliseconds elapsed since recording reference when the step completed"
          },
          "reusableActionTrace": {
            "$ref": "#/components/schemas/ReusableActionTrace"
          }
        },
        "required": [
          "stepIndex",
          "title",
          "status"
        ]
      },
      "ReusableActionTrace": {
        "type": "object",
        "properties": {
          "version": {
            "type": "number",
            "enum": [
              1
            ]
          },
          "stepKey": {
            "type": "string",
            "maxLength": 160
          },
          "stepTitle": {
            "type": "string",
            "maxLength": 200
          },
          "stepType": {
            "type": "string",
            "enum": [
              "act",
              "assert",
              "login",
              "files",
              "screenshot",
              "javascript"
            ]
          },
          "actions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReusableActionStep"
            },
            "minItems": 1,
            "maxItems": 20
          },
          "confidence": {
            "type": "string",
            "enum": [
              "medium",
              "high"
            ]
          }
        },
        "required": [
          "version",
          "stepKey",
          "stepTitle",
          "actions",
          "confidence"
        ]
      },
      "ReusableActionStep": {
        "type": "object",
        "properties": {
          "order": {
            "type": "integer",
            "minimum": 0
          },
          "toolName": {
            "type": "string",
            "maxLength": 64
          },
          "summary": {
            "type": "string"
          },
          "target": {
            "$ref": "#/components/schemas/ReusableActionTarget"
          },
          "input": {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "maxLength": 300
              },
              "field": {
                "type": "string",
                "enum": [
                  "username",
                  "password"
                ]
              },
              "option": {
                "type": "string",
                "maxLength": 120
              },
              "key": {
                "type": "string",
                "maxLength": 60
              },
              "direction": {
                "type": "string",
                "enum": [
                  "up",
                  "down",
                  "left",
                  "right"
                ]
              },
              "amount": {
                "type": "integer"
              },
              "focused": {
                "type": "boolean"
              },
              "sequentially": {
                "type": "boolean"
              }
            }
          }
        },
        "required": [
          "order",
          "toolName",
          "summary"
        ]
      },
      "ReusableActionTarget": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "role",
              "css",
              "vision",
              "focused",
              "none"
            ]
          },
          "role": {
            "type": "string",
            "maxLength": 60
          },
          "name": {
            "type": "string",
            "maxLength": 120
          },
          "nth": {
            "type": "integer",
            "minimum": 0
          },
          "selector": {
            "type": "string",
            "maxLength": 240
          },
          "element": {
            "type": "string",
            "maxLength": 140
          }
        },
        "required": [
          "kind"
        ]
      },
      "PlannerSkippedOutput": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string",
            "enum": [
              "planner_skipped"
            ]
          },
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000
          }
        },
        "required": [
          "kind",
          "reason"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/v1/projects": {
      "get": {
        "summary": "List projects",
        "description": "List projects available to the authenticated API key's team.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "List of projects",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "shortId": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string",
                            "nullable": true,
                            "format": "uri"
                          },
                          "projectType": {
                            "type": "string",
                            "enum": [
                              "web",
                              "mobile"
                            ]
                          },
                          "environments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string",
                                  "format": "uuid"
                                },
                                "name": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "kind": {
                                  "type": "string",
                                  "enum": [
                                    "production",
                                    "pr_preview",
                                    "static"
                                  ]
                                },
                                "url": {
                                  "type": "string",
                                  "nullable": true
                                }
                              },
                              "required": [
                                "id",
                                "name",
                                "slug",
                                "kind",
                                "url"
                              ]
                            }
                          }
                        },
                        "required": [
                          "id",
                          "shortId",
                          "name",
                          "url",
                          "projectType"
                        ]
                      }
                    }
                  },
                  "required": [
                    "projects"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a project",
        "description": "Create a project for the authenticated API key's team.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "projectType": {
                    "type": "string",
                    "enum": [
                      "web",
                      "mobile"
                    ]
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 2000
                  }
                },
                "required": [
                  "name",
                  "url"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/ProjectDetail"
                    }
                  },
                  "required": [
                    "project"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "403": {
            "description": "Project limit exceeded for the current plan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    },
                    "currentCount": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "limit": {
                      "type": "integer",
                      "minimum": 0
                    }
                  },
                  "required": [
                    "error",
                    "message",
                    "currentCount",
                    "limit"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}": {
      "get": {
        "summary": "Get a project",
        "description": "Get a single project by ID or shortId.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID or shortId"
            },
            "required": true,
            "description": "Project ID or shortId",
            "name": "projectId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Project details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not Found - Resource does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update a project",
        "description": "Update project name, URL, or description.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID"
            },
            "required": true,
            "description": "Project ID",
            "name": "projectId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 255
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  },
                  "description": {
                    "type": "string",
                    "nullable": true,
                    "maxLength": 2000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/ProjectDetail"
                    }
                  },
                  "required": [
                    "project"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a project",
        "description": "Delete a project. Cascades to groups, tests, runs, and associated artifacts.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID"
            },
            "required": true,
            "description": "Project ID",
            "name": "projectId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Project deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "deleted",
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/pull-request-runs": {
      "post": {
        "summary": "Trigger a dynamic pull request run",
        "description": "Trigger the dynamic PR agent from CI using PR metadata. Callers do not send changed files; TesterArmy enriches with changed files and GitHub reporting only when the project has a supported GitHub connection.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID or shortId"
            },
            "required": true,
            "description": "Project ID or shortId",
            "name": "projectId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DynamicPrRunRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Dynamic PR run queued successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "queued"
                      ]
                    },
                    "runId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "projectId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "platform": {
                      "type": "string",
                      "enum": [
                        "web",
                        "ios",
                        "android"
                      ]
                    },
                    "metadata": {
                      "type": "object",
                      "properties": {
                        "github": {
                          "type": "object",
                          "properties": {
                            "configured": {
                              "type": "boolean"
                            },
                            "checkRunCreated": {
                              "type": "boolean"
                            },
                            "commentTargetResolved": {
                              "type": "boolean"
                            },
                            "status": {
                              "type": "string",
                              "enum": [
                                "not_configured",
                                "check_create_failed",
                                "pr_not_found"
                              ]
                            }
                          },
                          "required": [
                            "configured",
                            "checkRunCreated",
                            "commentTargetResolved"
                          ]
                        },
                        "mobile": {
                          "type": "object",
                          "properties": {
                            "source": {
                              "type": "string"
                            },
                            "buildId": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "source"
                          ]
                        }
                      }
                    }
                  },
                  "required": [
                    "status",
                    "runId",
                    "projectId",
                    "platform"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Request body too large",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/environments": {
      "get": {
        "summary": "List project environments",
        "description": "List all run environments for a project, including built-in Production and PR Preview plus static environments.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID or shortId"
            },
            "required": true,
            "description": "Project ID or shortId",
            "name": "projectId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "List of project environments",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "environments": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProjectEnvironment"
                      }
                    }
                  },
                  "required": [
                    "environments"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a project environment",
        "description": "Create a static project environment with a stable HTTPS URL. Built-in Production and PR Preview environments are managed by TesterArmy.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID or shortId"
            },
            "required": true,
            "description": "Project ID or shortId",
            "name": "projectId",
            "in": "path"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 100
                  },
                  "url": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 500
                  }
                },
                "required": [
                  "name",
                  "url"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project environment created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "environment": {
                      "$ref": "#/components/schemas/ProjectEnvironment"
                    }
                  },
                  "required": [
                    "environment"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Project not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Environment name conflicts with an existing environment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/environments/{environmentId}": {
      "delete": {
        "summary": "Delete a project environment",
        "description": "Delete a static project environment. Built-in Production and PR Preview environments are not deletable.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID or shortId"
            },
            "required": true,
            "description": "Project ID or shortId",
            "name": "projectId",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "uuid",
              "description": "Static environment ID"
            },
            "required": true,
            "description": "Static environment ID",
            "name": "environmentId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Project environment deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "deleted": {
                      "type": "boolean",
                      "enum": [
                        true
                      ]
                    },
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    }
                  },
                  "required": [
                    "deleted",
                    "id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request - Invalid input parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing API key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Project or environment not found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests - Usage limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          },
          "504": {
            "description": "Gateway Timeout - Test execution exceeded time limit",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "description": "Error code or type"
                    },
                    "message": {
                      "type": "string",
                      "description": "Human-readable error message"
                    }
                  },
                  "required": [
                    "error",
                    "message"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/projects/{projectId}/credentials": {
      "get": {
        "summary": "List project credentials",
        "description": "List credentials for a project. Passwords are not returned.",
        "tags": [
          "Projects"
        ],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Project ID or shortId"
            },
[...]
